<div class="dashboard-container">
  <app-header></app-header>
  
  <div class="tabs-container">
    <mat-tab-group [selectedIndex]="2" (selectedIndexChange)="onTabChanged($event)" mat-align-tabs="start" animationDuration="0ms">
      <mat-tab label="Connectivity"></mat-tab>
      <mat-tab label="Anomaly Details"></mat-tab>
      <mat-tab label="Troubleshoot Controller Health"></mat-tab>
    </mat-tab-group>
  </div>
  
  <div class="page-content">
    <ng-container [ngSwitch]="selectedTabIndex">
      <ng-container *ngSwitchCase="0">
        <!-- Connectivity tab content would go here -->
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <!-- Anomaly Details tab content would go here -->
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <app-controller-requests (requestSubmitted)="showRequestNotification($event)"></app-controller-requests>
      </ng-container>
    </ng-container>
  </div>
  
  <div class="notification-container" *ngIf="showNotification">
    <app-notification [message]="notificationMessage"></app-notification>
  </div>
</div>
