<mat-toolbar color="primary">
  <button mat-icon-button class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">OpenBlue | Enterprise Manager</span>
  <span class="spacer"></span>
  
  <button mat-icon-button class="toolbar-icon home-icon">
    <mat-icon>home</mat-icon>
  </button>
  
  <!-- Language Selector -->
  <app-language-selector class="header-language-selector"></app-language-selector>
  
  <button mat-icon-button class="toolbar-icon">
    <mat-icon>location_on</mat-icon>
  </button>
  
  <button mat-icon-button class="toolbar-icon">
    <mat-icon>apps</mat-icon>
  </button>
  
  <button mat-icon-button class="toolbar-icon">
    <mat-icon>notifications</mat-icon>
  </button>
  
  <button mat-icon-button class="toolbar-icon">
    <mat-icon>help</mat-icon>
  </button>
  
  <div class="user-button">
    <div class="user-profile">
      <div class="user-avatar">BL</div>
      <div class="user-text-container">
        <div class="user-name">User</div>
      </div>
    </div>
  </div>
</mat-toolbar>

<!-- Colored bar below navbar -->
<div class="color-strip">
  <div class="color-segment segment-blue"></div>
  <div class="color-segment segment-teal"></div>
  <div class="color-segment segment-green"></div>
  <div class="color-segment segment-yellow"></div>
  <div class="color-segment segment-orange"></div>
  <div class="color-segment segment-red"></div>
</div>

<div class="header-content">
  <div class="left-content">
  <div class="breadcrumb">
    <span>JCI Corporate /</span>
  </div>
  
    <div class="title-with-icon">
      <div class="auditor-icon">
        <mat-icon>assessment</mat-icon>
      </div>
      <h1>Data Auditor</h1>
    </div>
  </div>
  
  <div class="right-content">
  <div class="location-selector">
    {{ location }}
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  
  <div class="weather-info">
    <ng-container *ngFor="let weather of weatherData">
      <div class="weather-item">
        <div class="weather-icon" *ngIf="weather.day === 'Yesterday'">
          <mat-icon>wb_cloudy</mat-icon>
        </div>
        <div class="weather-icon" *ngIf="weather.day === 'Today'">
          <mat-icon>wb_sunny</mat-icon>
        </div>
        <div class="weather-text">
          <div>{{ weather.day }}</div>
          <div>{{ weather.highTemp }} {{ weather.lowTemp }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  </div>
</div>
